<div class="container-fluid text-center">
  <!--Page Size-->
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <form class="form-inline pull-left">
            <button type="button" class="btn btn-primary" routerLink="/infinite-scroll-byid">Advance Search</button>
        </form>
      <form class="form-inline pull-right">
        <div class="form-group">
          <label for="pageSize">Page Size:</label>
          <input type="number" id="pageSize" name="pageSize" value={{pageSize}} [(ngModel)]="pageSize"
            class="form-control" placeholder="Page Size" style="width: 100px;">
        </div>
        <button type="button" class="btn btn-primary" style="margin-left: 2px;" (click)="applyAfterClick()">Apply</button>
      </form>
    </div>
    <div class="col-md-1"></div>
  </div>
  <!--Page Size-->
  <div class="row" style="margin-top: 5px;">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="panel-title" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Enjoy the World of Infinite
            Scrolling
          </div>
        </div>
        <div class="panel-body" style="max-height: 400px;overflow-y: scroll;" infiniteScroll
          [infiniteScrollDistance]="0.5" [infiniteScrollThrottle]="150" (scrolled)="onScroll()" [scrollWindow]="false">
          <table class="table table-hover">
            <thead>
              <tr>
                <th class="text-center">Id</th>
                <th class="text-center">Name</th>
                <th class="text-center">Mobile</th>
                <th class="text-center">Email</th>
                <th class="text-center">Address</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let employee of EmployeeList">
                <td style="color:blue; font-weight: bolder;">{{employee.Id}}</td>
                <td>{{employee.Name}}</td>
                <td>{{employee.Mobile}}</td>
                <td>{{employee.Email}}</td>
                <td>{{employee.Address}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
  <div style="position: absolute;left:50%;top:50%;margin-top: 0px auto;" *ngIf="loaderShow">
    <img src="assets\loader.gif" class="img-rounded" alt="Loading...">
</div>
<h3 *ngIf="pageNo == totalPages" class="text-warning text-center" style="font-weight: bold;">That's all folks!!</h3>
</div>
